body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #b2e0b3; /* Light green, scientifically associated with calmness */
    color: #333; /* Adjust text color for better visibility */
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 20px; /* Add margin at the bottom of the form */
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #145b17;
}

/* Add styling for the result container */
#result-container {
    margin-top: 24px; /* Add margin at the top to create space */
}

#bmi-result {
    font-size: 20px; /* Increase font size for the BMI result */
    font-weight: normal; /* Set normal weight for the BMI result */
}

#result-text {
    font-size: 22px;
    font-weight: bold; /* Set bold weight for the "BMI Result" label */
}

#implication-text{
    font-size: 20px;
}
